a {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 11px;
  color: #3A681A;
}

a:hover {
  color: #5CA22E;
}
a:active {
  color: #DC0000;
}
.block {
 border: 1px solid #008000;
  font-size: 11px; /* касательно этого параметра , не стал убирать чисто из соображений что он может применяться к отдельному от <a></a> тэгу */
  background-color: #E7F2D7;
  height: 17px;
}
.block2 {
  width: 95px;
}