table{  
    border: 3px solid rgb(122, 50, 50);
    width: 1000px;
    border-collapse: collapse;
    background: cadetblue;
    color: black;
    
}

#stats2{ 
    background: pink; 
    
}
th{ 
    text-align: center;
    background: pink;
}
td{ 
    border: 2px solid rgb(122, 50, 50);
    padding-right: 10px;
    
    
}
.space{ 
width: 55%;
height: 100px;

}
.a{ 
    border-bottom-color: transparent;
    
}
.b{ 
    border-right-color:transparent;
}
.r{ 
    vertical-align: top;
    text-align: right;
    background-color: pink;
}
.big{   
    width: 25%;
    text-align: left;
    vertical-align: top;
    padding-bottom: 10px;
    background-color: pink;
    
    
}
.mid{   
    width: 15%;
}
.smal{  
    width: 10%;
    height: 70px;
    text-align: right;
    vertical-align: top;
    background-color: cadetblue;
}
.Total{ 
    vertical-align: bottom;
}


